body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .color-box {
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
  }
  
  #game-container {
    width: 300px; /* Ajusta el ancho según sea necesario */
    height: 300px; /* Ajusta la altura según sea necesario */
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  